/* dark mode */

:root {
  --dark: true;
  --text-color: #ddd;
  --background-color: #000;
  --background-dim-color: #440;
  --link-color: #3ada51;
  --query-color: #f80;
  --button-color: #ff0;
  --button-hover-color: #cc0;
  --nav-color: #444;
  --map-highlight-color: #ff0;
}
