/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0 ; padding:0 ; border:0 ; font-size:100% ; font:inherit ; vertical-align:baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }
body { line-height:1 }
ol, ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after, q:before, q:after { content:'' ; content:none }
table { border-collapse:collapse ; border-spacing:0 }


/* general styles */

a { color:#00c ; text-decoration:none }
a:hover, a:focus { text-decoration:underline }
a:visited { color:inherit }
body { font-family:Arial, sans-serif }
blockquote { margin:0.5em 1em ; padding:0.5em ; border:1px solid #ddd ; background:#eee ; border-radius:4px }
blockquote blockquote { border:1px solid #ccd ; background:#dde }
blockquote blockquote blockquote { border:1px solid #cdc ; background:#ded }
code { font-family:"Lucida Console", monospace }
em, i { font-style:italic }
strong, b { font-weight:bold }
h1,h2,h3,h4,h5,h6 { font-weight:bold ; padding:0 ; margin:0 }
h1 { font-size:125% }
h2 { font-size:115% ; margin-bottom:0.3em }
h3 { font-size:110% ; margin-bottom:0.3em }
h4 { font-size:108% }
h5 { font-size:105% }
h6 { font-size:100% }
hr { margin:1em 0 }
img { border:0 }
input,textarea,select { font-family:Arial, sans-serif ; font-size:100% ; margin:0 ; border:2px inset }
input,textarea { padding:1px 2px }
p { margin:0.5em 0 }
pre { margin:0.5em 1em ; padding:0.5em ; border:1px solid #ddd ; background:#f8f8ee ; border-radius:4px }
code { color:#840 ; font-size:85% }
td, th { vertical-align:top ; text-align:left }
th { font-weight:bold }
ul { margin:0 0 1em ; list-style-type:disc ; padding:0 0 0 1em }
ol { margin:0 0 1em ; list-style-type:decimal ; padding:0 0 0 1em }
dl { margin:0 0 1em ; list-style-type:disc ; padding:0 0 0 1em }
dd { margin:0 0 1em 1em }


/* cugirjs */

.alert { color:#00f ; font-weight:bold }

body { padding: 0 ; margin: 0 ; font-family:Calibri, sans-serif ; background:#fff ; color:#000 ; font-size:100% }

#head { position:fixed ; top:0 ; height:108px ; width:98% ; padding:6px 1% ; background:#fc0 ; color:#000 ; z-index:99 }

#search { float:left }
#search img { vertical-align:middle ; height:100px ; }
#search img:hover { cursor:pointer ; opacity:0.7 }
#search input { margin-left:2em ; width:20em }
#menu { position:absolute ; top:6px ; right:1em }
#menu a { background:#8fc349; color:#fff ; padding:6px 1em }


#map { position:fixed ; left:0 ; top:128px ; margin:0 1% ; width:48% ; height:75% ; background:#fff }

#body { position:absolute ; left:50% ; top:128px ; margin-right:1% }
#body a { color:#e68742 }


.home { font-size:150% ; text-align:center }
#categories a { cursor:pointer ; line-height:1.5em ; white-space:nowrap }
#categories .count { margin-right:2em ; color:#888 ; font-size:86% }

#nav { margin:1em ; background:#fff }
#nav .q { color:#8fc349 ; font-weight:bold }
#nav button { color:#8fc349 ; background:#fff ; border:0 ; margin:0 1em }
#nav button:hover { cursor:pointer }
#nav a { float:right ; background:#12b3c5 ; border-color:#109eae ; color:#fff ; border-radius:4px ; padding:3px 1em ; margin-left:0.5em }
#nav a:hover { background:#0e8996 ; border-color:#0b6b76 ; text-decoration:none }


#results { list-style-type:none ; padding:0 ; margin:0 }
#results li { padding:0.5em ; background:#eee ; margin-bottom:0.5em }
#results li:hover { background:#ddf ; cursor:pointer }
#results .title { font-size:120% ; font-weight:bold ; color:#e68742 }
#results .brief { max-height:3em ; overflow:hidden }
#results .details { display:none }

#results li.selected { background:#fff ! important ; border:3px solid #eda978 }
#results li.selected:hover { cursor:default }
#results li.selected .brief { display:none }
#results li.selected .details { display:block }

#results .details p { margin:0 0 0.5em }
#results .details table { margin:0.5em 0 }
#results .details th { width:6em ; text-align:right ; color:#888 ; padding:3px 6px ; font-weight:normal }
#results .details td { padding:3px 6px }
#results .details .subset { margin-bottom:1.5em ; line-height:2em }
#results .details a.download { background:#12b3c5 ; border-color:#109eae ; color:#fff ; border-radius:4px ; margin:6px 1em 6px 0 ; padding:3px 1em ; white-space:nowrap }
#results .details a.download:hover { background:#0e8996 ; border-color:#0b6b76 ; text-decoration:none }

#featureInfo { position:fixed ; left:40% ; bottom:0 ; background:#fff ; border:3px solid #00f ; box-shadow:6px 6px 12px rgba(0,0,0,0.5) ; margin-bottom:3em ; max-height:65% ; overflow-y:auto ; overflow-x:hidden }
/* TODO make #featureInfo same height as map? */
#featureInfo tr.head th { font-weight:bold ; color:#000 ; background:#ccf ; text-align:center }
#featureInfo th { width:5em ; text-align:right ; color:#888 ; padding:3px 6px ; font-weight:normal ; border:1px solid #888 }
#featureInfo td { padding:3px 6px ; border:1px solid #888 }






/* old embellish css */


#details { background:#468 ; color:#fff ; width:95% ; margin:2px 2% ; padding:1em 1% ; position:absolute ; white-space:normal ; box-shadow:0 12px 12px rgba(0,0,0,0.8) }
#details:hover { cursor:default }
#details table { color:#fff }
#details td { padding:0 6px }
#details a { color:#fff }
#details a:hover {color:#88f }
#details ul { list-style-type:none }


#details button { float:right }

#modal { position:fixed ; z-index:100 ; left:0 ; top:0 ; width:100% ; height:100% ; background:#000 ; overflow-y:auto }
#modal form { padding:3em ; width:46em ; text-align:center }
#modal form th { width:6em ; text-align:right ; padding:3px 6px }
#modal form td { padding:3px 6px }
#modal form input, #modal form textarea { width:40em ; background:#444 ; color:#fff ; border:0 ; padding:3px 6px }
#modal form input[readonly] { color:#888 }
#modal form textarea { height:4em }
#modal form table#concertsongs { width:100% }
#modal form table#concertsongs th { text-align:left ; width:auto }
#modal form table#concertsongs td { vertical-align:middle }
#modal form input[type=checkbox] { width:auto ; transform:scale(1.3) }
#modal form button { margin:1em 2em ; border:3px solid #888 }
#modal form button:focus {border:3px solid #00f }

#songinfo { width:28em }
#songinfo th { width:6em ; text-align:right ; color:#ccc ; padding:3px 6px ; font-weight:normal }
#songinfo td { width:20em ; padding:3px 6px }

#history { width:12em ; margin:0 3px }
#history ul { padding:0 ; margin:0 }
#history li.accepted { color:#ff0 }

#statistics { width:8em }
#statistics ul { margin:0.5em }

#images { width:156px ; margin:0 3px }
#images img { height:192px ; width:144px ; margin:3px 6px }

.request { color:#ff0 ; margin-left:3px }

.concert ul.performances { float:left }
.concert ul.performers { float:left }

